<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/logincss.css">
</head>

<body>
    <div class="login-container">
        <h2 class="heading">Ready for this Game of Chess? </h2>
        <p class="msg">Just Enter your Username & Let the Battle Begin!</p>
        <form id="login-form" method="post" action="/login">
            <input type="text" name="username" id="username" placeholder="Enter a Cool UserName (｡•̀ᴗ-)✧" required>
            <button type="submit" class="loginbtn">Charge!</button>
        </form>
    </div>
</body>

</html>